<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.3.min.js" type="text/javascript"></script>
<script src="obj_api.js?h=7779ggew" type="text/javascript"></script>
<body>

<div id="myPedido"  ng-app="appTeste" ng-controller="TesteController">

    <input type="file" id="file" ng-model="file" value="Upload Arquivo" />
	<button type="button" ng-click="upload()" >Upload</button>
	

</div>



<div id="div_error_api"></div>
</body>
</html>
<script>

    window.URL_API = "http://localhost:8000/";

    var app = angular.module('appTeste', []);
    app.controller('TesteController', function ($scope) {  
	
	        $scope.file = null;

            $scope.upload =function(){
			
						$upload.upload({
							url: 'http://localhost:8000/files/',
							method: 'POST',
							data: {user: exp.user.id},
							file: files[0]
						});
			}
              
    }); 
</script>